<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./base.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title> -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1048.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Translate Web</title>

</head>

<body>
    <div class="container">

        <h1 class="rgbRed-text fontWeight-900 padding-12">TRANSLATE WEB</h1>
        <div class="sub-container">
            <div class="content">
                <div class="top-side">
                    <div class="select-language">
                        <p>Insert Language: </p>
                        <select class="form-select" id="sourceLanguageCodeDropdown">

                        </select>
                    </div>
                    <div class="swap btn">
                        <button class="swap btn">
                            <i class="fa-solid fa-right-left"></i>
                        </button>
                    </div>
                    <div class="select-language">
                        <p>Result Language: </p>
                        <select class="form-select" id="targetLanguageCodeDropdown">

                        </select>
                    </div>
                </div>
                <div class="body-side">

                    <div class="left-side">
                        <div>
                            <textarea id="inputText" name="inputText" rows="6"
                                placeholder="Text to translate..."></textarea>
                            <button style="display: none" class="clear-btn btn" id="clear-btn">
                                <i class="fa-solid fa-xmark"></i>
                            </button>

                            <button style="display: none" class="poly-btn btn disabled">
                                <i class="fa fa-volume-up text-light"></i>
                            </button>
                            <div class="group-btn">
                                <!-- <button class="translate-btn btn">TRANSLATE</button> -->
                                <button class="btn upload-btn" id="upload">
                                    <i class="fa fa-upload text-light"></i>
                                </button>
                                <button class="download-btn btn">
                                    <i class="fa fa-download"></i>
                                </button>
                                <button class="audio-btn btn" id="audio-btn" style="font-size: 12px;">
                                    Nghe
                                </button>
                                <button id="start-button" class="button-xl btn" title="Start Transcription">
                                    <i class="fa fa-microphone"></i>
                                </button>
                                <button id="stop-button" class="button-xl btn" title="Stop Transcription"
                                    disabled="true"><i class="fa fa-stop-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="right-side" style="background-color: #e9e9e9;">

                        <div>
                            <textarea disabled id="outputText" name="outputText" rows="6"
                                placeholder="Translated text..."></textarea>
                            <button style="display: none" class="btn copy-btn" id="copy-btn">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                            <button style="display: none" class="poly-btn btn disabled"><i
                                    class="fa fa-volume-up text-light"></i></button>
                            <div class="group-btn">
                                <button class="download-btn btn">
                                    <i class="fa fa-download"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="bottom-side">
                    <div class="upload_imgs_container">
                        <div class="img_card">
                            <div class="img_card_top">
                                <p>Kéo & thả file của bạn vào khung dưới đây !</p>
                                <!-- <button></button> -->
                            </div>
                            <form action="/extracttext" method="post" enctype="multipart/form-data">
                                <div class="add_img_form">
                                    <span class="text_inner">Kéo & thả file ở đây hoặc
                                        <label for="img_select_btn" class="select fontWeight-600">Chọn
                                            file
                                        </label>
                                    </span>
                                    <!-- <input style="display: none;" type="file" name="file_select"
                                    class="imgs_select"> -->
                                    <input id="img_select_btn" type="file" name="file_select" class="imgs_select">
                                    <button style="display: none;" type="submit" class=""
                                        id="submit_textract_btn"></button>
                                </div>
                            </form>

                            <div class="imgs_container">
                                <!-- <div class="img">
                                    <img src="../assets/img/banner_1.png" alt="">
                                    <span class="rgbRed-text delImgbtn" onclick="delImg(0)">&times;</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="error" class="isa_error"></div>
    </div>
    <!-- <script src="{{ url_for('static',filename='script/loadLang.js') }}"> </script> -->

    <script>
        // console.log(clear_btn)
        const selectDrop = document.getElementsByClassName('form-select');
        // import {} from "./"
        fetch("{{ url_for('static',filename='language.json') }}").then(res => {
            return res.json();
        }).then(data => {
            let opt = "";
            // console.log(data.language[0].name)
            data.language.forEach(country => {
                opt += `<option id=${country.value} value=${country.value}>${country.name}</option>`;
                // console.log(country.cca2);
            });

            selectDrop[0].innerHTML = `<option value='auto'>Auto</option>` + opt;
            selectDrop[1].innerHTML = opt;

            selectDrop[1].value = 'vi';
            // const a = document.ge
            // console.log(opt)
        }).catch(e => {
            console.log(e);
        });
    </script>

    <script>
        document.getElementById("inputText").focus();

        AWS.config.region = 'us-east-1'; // Region
        AWS.config.credentials = new AWS.Credentials("AKIAUTP2CT7AAYERIVHJ", "Ao4B8MS7KUu0lVWHaAR7n4/VAZJVItwkAn1v4tXA");

        var translate = new AWS.Translate({ region: AWS.config.region });
        var polly = new AWS.Polly();
        var s3 = new AWS.S3();
    </script>
    <script>
        // document.getElementById("targetLanguageCodeDropdown").value = "vi";

        var clear_btn = document.getElementById('clear-btn');
        var copy_btn = document.getElementById('copy-btn');
        const poly_btn = document.getElementsByClassName('poly-btn');
        const textarea = document.querySelectorAll('textarea');


        function doTranslate() {
            // var inputText = document.getElementById('inputText')
            // textarea[1].value = textarea[0].value;



            var inputText = document.getElementById('inputText').value;
            // if (!inputText) {
            //     alert("Vui lòng nhập văn bản bạn muốn dịch");
            //     exit();
            // }

            // get the language codes
            // var sourceDropdown = document.getElementById("sourceLanguageCodeDropdown");
            // selectDrop[0]
            // var sourceLanguageCode = sourceDropdown.options[sourceDropdown.selectedIndex].value;
            // var sourceLanguageCode = 0;
            // var targetDropdown = document.getElementById("targetLanguageCodeDropdown");
            // console.log(targetDropdown);
            // var targetLanguageCode = 10;
            // var targetLanguageCode = targetDropdown.options[targetDropdown.selectedIndex].value;
            var sourceLanguageCode = selectDrop[0].value;
            console.log(sourceLanguageCode);
            var targetLanguageCode = selectDrop[1].value;
            // var params = {

            //     Text: inputText,
            //     SourceLanguageCode: 'vi',
            //     TargetLanguageCode: 'ja'
            // };

            var params = {

                Text: inputText,
                SourceLanguageCode: sourceLanguageCode,
                TargetLanguageCode: targetLanguageCode
            };

            if (textarea[0].value || textarea[0].value != "") {
                clear_btn.style.display = "block";
                copy_btn.style.display = "block";
                poly_btn[0].style.display = "block";
                poly_btn[1].style.display = "block";
                translate.translateText(params, function (err, data) {
                    if (err) {
                        console.log(err, err.stack);
                        alert("Error calling Amazon Translate. " + err.message);
                        return;
                    }
                    if (data) {
                        var outputTextArea = document.getElementById('outputText');
                        outputTextArea.value = data.TranslatedText;
                    }
                });


                // for (let i = 0; i < poly_btn.length; i++) {
                //     poly_btn[i].removeAttribute('disabled');
                //     poly_btn[i].classList.remove('disabled');
                // }
            } else if (!textarea[0].value) {
                clear_btn.style.display = "none";
                copy_btn.style.display = "none";

                poly_btn[0].style.display = "none";
                poly_btn[1].style.display = "none";

                // textarea[0].value = "";
                // textarea[1].value = "";
                clearInputs();

                textarea[0].rows = 6;
                textarea[1].rows = 6;
            }

            if (textarea[0].offsetHeight < textarea[0].scrollHeight) {
                textarea[0].rows = textarea[0].rows + 1;
                textarea[1].rows = textarea[1].rows + 1;

            }

        }

        document.getElementById('inputText').addEventListener('input', doTranslate)
    </script>


    <script>
        function doSynthesizeInput() {
            var text = document.getElementById('inputText').value.trim();
            if (!text) {
                return;
            }
            var sourceLanguageCode = document.getElementById("sourceLanguageCodeDropdown").value;
            doSynthesize(text, sourceLanguageCode);
        }
        poly_btn[0].addEventListener('click', doSynthesizeInput);


        function doSynthesizeOutput() {
            var text = document.getElementById('outputText').value.trim();
            if (!text) {
                return;
            }
            var targetLanguageCode = document.getElementById("targetLanguageCodeDropdown").value;
            doSynthesize(text, targetLanguageCode);
        }
        poly_btn[1].addEventListener('click', doSynthesizeOutput);

        function doSynthesize(text, languageCode) {
            var voiceId;
            switch (languageCode) {
                case "ar":
                    voiceId = "Zeina";
                    break;
                case "da":
                    voiceId = "Mads";
                    break;
                case "nl":
                    voiceId = "Ruben";
                    break;
                case "de":
                    voiceId = "Marlene";
                    break;
                case "zh":
                    voiceId = "Zhiyu";
                    break;
                case "en":
                    voiceId = "Joanna";
                    break;
                case "es":
                    voiceId = "Penelope";
                    break;
                case "fr":
                    voiceId = "Celine";
                    break;
                case "pt":
                    voiceId = "Vitoria";
                    break;
                case "ja":
                    voiceId = "Takumi";
                    break;
                case "ko":
                    voiceId = "Seoyeon";
                    break;
                case "ru":
                    voiceId = "Maxim";
                    break;
                default:
                    voiceId = null;
                    break;
            }
            if (!voiceId) {
                alert("Hiện tại chưa hỗ trợ giọng nói cho ngôn ngữ \"" + languageCode + "\"");
                return;
            }
            var params = {
                OutputFormat: "mp3",
                SampleRate: "8000",
                Text: text,
                TextType: "text",
                VoiceId: voiceId
            };
            polly.synthesizeSpeech(params, function (err, data) {
                if (err) {
                    console.log(err, err.stack); // an error occurred
                    alert("Error calling Amazon Polly. " + err.message);
                }
                else {
                    var uInt8Array = new Uint8Array(data.AudioStream);
                    var arrayBuffer = uInt8Array.buffer;
                    var blob = new Blob([arrayBuffer]);
                    var url = URL.createObjectURL(blob);

                    audioElement = new Audio([url]);
                    audioElement.play();
                }
            });
        }
    </script>

    <script>
        document.getElementById("sourceLanguageCodeDropdown").addEventListener('change', doTranslate);
        document.getElementById("targetLanguageCodeDropdown").addEventListener('change', doTranslate)
    </script>

    <p style="display: none;" id="data_extract">{{jsonData}}</p>
    <script>
        let data = document.getElementById('data_extract').innerHTML;
        let dataFromApi = JSON.parse(data);
        let value = dataFromApi.text;
        // console.log("value json test=", data);
        document.getElementById('inputText').value = value;

        doTranslate();
    </script>

    <script src="{{ url_for('static',filename='script/clearInput.js') }}"> </script>
    <script src="{{ url_for('static',filename='script/swapText.js') }}"> </script>
    <script src="{{ url_for('static',filename='script/speechTotext.js') }}"> </script>
    <script src="{{ url_for('static',filename='script/dist/main.js') }}"> </script>
    <script src="{{ url_for('static',filename='script/copyText.js') }}"> </script>
    <script src="{{ url_for('static',filename='script/loadFileAsText.js') }}"> </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.1.9/docxtemplater.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>