.container {
    /* width: 100%; */
    min-height: 97vh;
    display: flex;
    flex-direction: column;
}

.sub-container {
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
    border-radius: 8px;
    margin: 18px 68px;
}

.content {
    border: 1px solid #ccc;
    border-radius: 8px;

    position: relative;
}

.content .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 12px; */
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;

}

.content .body-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    background-color: #e9e9e9;
}


.select-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

}

.swap {
    position: relative;
    /* top: 0;
    bottom: 0;
    */
    /* left: 0;
    right: 0; */
    width: 70px;
    height: 70px;
    /* text-align: center; */
    /* margin: auto; */

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: rgb(93, 93, 93);
    border-radius: 50%;
}

.swap button {
    /* margin: auto; */
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 0;
}

.swap button:hover {
    /* opacity: 0.7; */
    color: #fff;
    background-color: #5392fa;
}

.select-language p {
    font-size: 14px;
    color: #5392fa;
    font-weight: 600;
}

#sourceLanguageCodeDropdown {
    width: 60px;
    height: 20px;
    /* margin-left: 10px; */
}

.left-side {
    border-right: 1px solid #ccc;
}

.right-side {
    border-left: 1px solid #ccc;
}

.left-side,
.right-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 10px; */
    width: 50%;
}

.left-side>div {
    position: relative;
}

.right-side>div {
    position: relative;
}

.poly-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 76px;
    left: 24px;
}

.clear-btn,
.copy-btn {
    position: absolute;
    right: 6px;
    top: 15px;
    width: 45px;
    height: 45px;
    background-color: rgb(244, 244, 244);
    border-radius: 50%;
    border: none;
    font-size: 18px;

    outline: none;
}


.group-btn {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #ccc; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-wrap: wrap;
}

.btn {
    width: 45px;
    height: 45px;
    background-color: rgb(244, 244, 244);
    border: none;
    outline: none;
    color: rgb(112, 111, 111);
    border-radius: 50%;
    font-size: 18px;

    /* margin-right: 10px; */
    margin: 0 5px;
}

.btn.disabled:hover {
    background-color: rgb(244, 244, 244) !important;
    color: rgb(112, 111, 111);
    opacity: 0.7;
}

.btn:hover {
    background-color: #5392fa !important;
    color: #fff;
}

.textract {
    margin-top: 20px;
    margin-left: 55px;
}

.translate-document {
    margin-top: 20px;
    margin-left: 55px;
}

.form-select {
    width: 200px !important;
    margin-left: 10px;

}

.isa_error {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 700;
}


textarea {
    resize: none;
    /* overflow-y: auto; */
    /* padding: 0 12px; */
    /* width: 110%; */
    border: 1px solid #ccc;
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 24px;
    /* border-bottom: 1px solid #ccc; */

    padding: 20px 58px 58px 24px;
}


.upload_imgs_container {
    margin: 8px;
    display: flex;
    /* justify-content: center; */
    margin-top: 12px;
    /* display: none; */
    visibility: hidden;
}

.upload_imgs_container.show {
    /* display: flex; */
    visibility: visible;
}

.upload_imgs_container .img_card {
    border: 2px solid #5392fa;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
    width: 100%;
    overflow: hidden;
}

.upload_imgs_container .img_card .img_card_top {
    text-align: center;
    font-weight: 600;

    color: #5392fa;
    margin: 0 0 24px 0;
}

.upload_imgs_container form {}

.upload_imgs_container .add_img_form {
    margin-bottom: 12px;
    /* margin: 12px; */

    width: 100%;
    height: 240px;
    background-color: #eefefd;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload_imgs_container .delAllImg {
    display: flex;
    justify-content: flex-end;

}

.upload_imgs_container .add_img_form input {
    display: none;
}

.upload_imgs_container .add_img_form .select {
    cursor: pointer;
    padding: 8px;
    color: #5392fa;
}

.upload_imgs_container .add_img_form .select:hover {
    background-color: #5392fa;
    color: #fff;
    border-radius: 5px;
}

.upload_imgs_container .add_img_form.dragover {
    color: #0b5ada;
    font-weight: 700;
    font-size: 18px;
    background-color: #c7cece;
}

.upload_imgs_container .imgs_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin-top: 24px;
    max-height: 360px;
    overflow-y: auto;

    /* padding: 4px; */
    /* border: 2px solid #0b5ada;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px; */

}


.upload_imgs_container .imgs_container .img {
    height: 100px;
    width: 200px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
    position: relative;
    margin: 8px;
}


.upload_imgs_container .imgs_container .img img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.upload_imgs_container .imgs_container .img span:last-child {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 32px;
    cursor: pointer;
    color: red;
}

.upload_imgs_container .imgs_container .img span:last-child:hover {
    color: #0b5ada;
}


.bottom-side {
    display: flex;
    justify-content: space-between;
    display: none;
}

.bottom-side.show {
    display: flex;
}

.bottom-side>div {
    width: 47%;
    margin: 8px;
    margin-top: 12px;
}

.download_file_select {
    /* display: none; */
    visibility: hidden;
}

.download_file_select.show {
    /* display: block; */
    visibility: visible;
}

.download_file_select .download_card {
    border: 2px solid #5392fa;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
    width: 100%;
    overflow: hidden;
}

.download_card_top {
    text-align: center;
    font-weight: 600;
    color: #5392fa;
}

.download_card_body > div,
.download_item_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
